
.blog-wrapper {
    
    height: 100%;
    width: 100%;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #636262;
}



.catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.product {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.product img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

button {
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 200px;
    bottom: 0;
    width: 100%;
}


@media(min-width: 320px) {
    

    .blog-container{
        background: rgb(19, 19, 19);
        border-radius: 5px;
        font-weight: 100;
        width: 25rem;   
        padding: 20px;
        box-shadow: rgba(0, 0, 0, 2) 0px 6px 16px;
        margin-left: 20%;
        margin-top: 150px;
        
    
    }
    
    .blog-container a:hover{
        color: #fafafa;
    }
    
    .blog-thumbnail{
        
        background: url("../img/1.apartment.jpg");
        background-size: cover;
        border-radius: 5px 5px 0 0;
        height: 15rem;
        box-shadow: inset rgba(0, 0, 0, 2) 0 5px 64px 16px;
        margin-bottom: 10px;
    }
    
    
    .blog-title h1 a{
        color: #e1f011;
        text-decoration: none;
        
    
    }
    
    .blog-text p{
        color:#ffffff;
        margin: 10px 10px 100px 0px;
    }
    
    .blog-tags ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
        padding-left: 0;
        margin: 0px 10px 10px;
    }
    
    .blog-tags li + li{
        margin-left: 0.5rem;
    }
    
    .blog-tags a{
        border: 1px solid rgb(92, 92, 91);
        border-radius: 3px;
        color: rgb(203, 206, 44);
        font-size: .75rem;
        height: 1.5rem;
        line-height: 1.5rem;
        letter-spacing: 1px;
        padding: 0 .5rem;
        text-align: center;
        text-transform: uppercase;
        white-space: nowrap;
        width: 5rem;
    }
    
    
    
    
    
    .blog-publishing-date{
        margin-top: 10px;
        border-radius: 3px;
        padding: 0 .5rem;
    }
}

@media(min-width:860px) {
    .blog-container{
        margin-left: 30%;
        
        
        
    
    }
}

@media(min-width:1090px) {
    .blog-container{
        margin-left: 33%;
        
        
        
    
    }
}

@media(min-width:1300px) {
    .blog-container{
        margin-left: 25%;
        width: 50rem;
        
        
        
    
    }
}

