/* Estilos de body*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Video background*/

body{
    
    overflow: scroll;
    position: relative; 
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    
}





.first-block-wrapper{
    width: 100%;
    display: flex;
    
}

.first-block-feature{
    margin: 50px;
    margin-right: 100px;
    display: none;
    text-align: center;
}

@media(min-width: 900px){
    .first-block-feature{
        width: 400px;
        height: 150px;
        display: block;
    }
}


/*contenido*/

.content-1 h3{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
    text-transform: uppercase;
    min-width: 260px;

  
}




.content-1{
    width: 70%;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 70px;
    border: 10px solid white;
    margin: 0 auto;
    background-color: white;
    z-index: 3;
    
}

.content-2{
    margin-top: 0px;
    width: 100%;
    padding: 20px;
    background: linear-gradient(rgb(90, 75, 75), rgb(49, 41, 41));
    color: rgb(70, 6, 69);
    height: 400px;
    text-align: center;
}

.separator-text{
    color: aliceblue;
    padding-top: 40px;
}







.content-3-content{
    min-width: 50%;
    width: 70%;
    padding: 20px;
    margin-top: 20px; 
    margin-right: 200px;

   
   
}
.skills li{
    margin: 5px;
    transition: transform .5s ease;
    

}

.skills li:hover{
    transition: translateX(10px);

    

}




/* Boton de pagina principal*/
    /*general*/

    

    .button-1{
        display: block;
        margin: 30px; /*importante para que :hover effect no se corta por bloques cercanos*/
        text-align: center;
    }
    
    .button-2{
        align-items: center;
        position: relative;
        display: inline-block;
        padding:15px 30px ;
        margin-top: 20px ;
        margin-bottom: 100px;
        color: rgb(78, 78, 76);
        text-transform: uppercase;
        text-decoration: none;
        font-size: 24px;
        letter-spacing: 4px;
        overflow: hidden;
        transition: 0.2s;
        background-color:  rgb(229, 241, 60);
    }

    .button__line{
        position: absolute;
        display: block;

    }

    .button-2:hover {
        box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3;
        background-color:  rgb(229, 241, 60);
        color: black;
        
    }


.content3__wrapper{
    height: 500px;
    width:100%;
    /*background: rgb(229, 241, 60);
    */
    background: linear-gradient(rgb(229, 241, 60), rgb(238, 255, 7));
    margin-bottom: 200px;

    .content3__header {
        text-align: center;
        padding-top: 20px;
    }
}


